.card {
  background: rgba(30, 20, 10, 0.8);
  border: 3px solid #d2b48c;
  border-radius: 10px;
  padding: 15px;
  width: 240px;
  color: #f0e6d2;
  cursor: pointer;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 0 15px #d2b48c;
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 2px solid #b99767;
}

.name {
  font-size: 22px;
  font-family: "Cinzel";
  margin-bottom: 6px;
}

.category {
  background: #5a3e1a;
  color: #f7ead1;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1000px;
}
