.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-size: 70px;
  margin-bottom: 20px;
  color: #f5e6c5;
  font-family: "Brush Script MT", cursive;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.noCreatures {
  font-size: 40px;
  text-align: center;
  grid-column: 1 / -1;  
  word-break: normal;     
  white-space: normal;     
  margin: 0 auto;           
}

.search {
  width: 92%;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #b99767;
  background: rgba(20, 10, 5, 0.7);
  color: #f7ead1;
  font-size: 30px;
}

.button {
    color: #b99767;
}

.addButton {
  background: rgba(20, 10, 5, 0.7);
  color: white;
  padding: 20px 200px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 16px;
  transition: 0.2s;
  border: 2px solid #b99767;
  margin-bottom: 15px;
  font-size: 20px;
}

.addButton:hover {
  background: #f7ead1;
  transform: scale(1.05);
  color: black;
}
